<section>
  <div>
    <img src="<%= result.image_url %>">
    <h3>Title :<%= result.title%></h3>
    <h4>Author :<%= result.author %></h4>
    <p>description :<%= result.description %></p>
    <p>ISBN :<%= result.isban %></p>
    <p>Bookshelf :<%= result.bookshelf %></p>

  </div>
  <!-- <button>Update Details</button>
          <button>Remove</button> -->
  </div>
</section>