  

              <section>
        <div>
            <img src="<%= result.image_url %>">
            <h3><%= result.title%></h3>
            <h4><%= result.author %></h4>
            <p><%= result.description %></p>
            <p><%= result.isban %></p>
            <p><%= result.bookshelf %></p>
           
        </div>
          <!-- <button>Update Details</button>
          <button>Remove</button> -->
      </div>
    </section>
 