<!DOCTYPE html>
<html lang="en">



    <head>
        <%- include('../../layout/head')%>
        <title>Search Books</title>
    </head>
    
<body>
    <header>
        <h2> Best Books!</h2>
    </header>
    <p class='para'>Search by Title or Author</p>
    <main>
        <ul>
            <% list.forEach(e=>{ %>
            <div class='result'>
                <img src='<%= e.img %>'>
                <br>
                <h3>Title :<%= e.title %></h2>
                    <br>
                <h5>Authors :<%= e.authors %></h4>
                    <br>
                <p>Description: <%= e.description %> </p>

                <br>


                <form action="/books" method="POST" class='addForm'>
                            <input type="hidden" name="title" value="<%=e.title%>">
                            <input type="hidden" name="author" value="<%=e.authors%>">
                            <input type="hidden" name="isbn" value="<%=e.isbn%>">
                            <input type="hidden" name="image_url" value="<%=e.img%>">
                            <input type="hidden" name="description" value="<%=e.description%>">
                            <label for="bookshelf">BookShelf</label>
                            <input type="text" name="bookshelf" value="<%=e.bookshelf%>" id='bookshelf'> 
                            <br>
                            <button class='sub'>Select This Book</button>
                            <br>
                </form>
                       

            </div>
          
            <% }) %>
            <!-- <button type="submit" id='sub'>Add To Saved Books</button> -->


            <p>osvdvsn</p>
        </ul>

    </main>
</body>

</html>