<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layout/head')%>

</head>

<body>
    <%- include('../layout/header')%>
    <!-- <header> <a href='/hello'>Hello World</a></header> -->
    <!-- <h1>Hello World</h1> -->
    <h4 id='savedbook'><%= bookCount %> Saved Books</h4>
    <!-- <a href='/search/new'>search</a> -->


    <ul>
        <% books.forEach(book=>{ %>
        <div class='resulthome'><img src='<%= book.image_url %>'>
            <br> <br>
            <h3><%= book.title %></h2>
            <br>
            <h5><%= book.author %></h4>
            <br>
            <a href="/books/<%= book.id%>"><button>View Details</button></a>
        </div>
        <% }) %>

    </ul>


    <%- include('../layout/footer')%>
</body>

</html>